@font-face {
  font-family: "iconfont"; /* Project id 4703801 */
  src: url('iconfont.woff2?t=1729505892259') format('woff2'),
       url('iconfont.woff?t=1729505892259') format('woff'),
       url('iconfont.ttf?t=1729505892259') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duankailianjie1:before {
  content: "\e62e";
}

.icon-duankailianjie:before {
  content: "\e710";
}

.icon-gonglu-:before {
  content: "\e64a";
}

.icon-fenqu:before {
  content: "\e639";
}

.icon-hot-spot-signal-full:before {
  content: "\e95d";
}

.icon-lixianzhuangtai:before {
  content: "\ec69";
}

.icon-zaixianzhuangtai:before {
  content: "\e65d";
}

.icon-lingdang:before {
  content: "\e60d";
}

.icon-home:before {
  content: "\e6a9";
}

.icon-kaiguan:before {
  content: "\e622";
}

.icon-bianyaqiyunhangpingjia:before {
  content: "\e612";
}

.icon-jiaoshinenghao:before {
  content: "\e654";
}

.icon-bianyaqishuliang:before {
  content: "\e616";
}

.icon-wangguanluyouqi:before {
  content: "\e680";
}

.icon-didian:before {
  content: "\e686";
}

.icon-zhexian:before {
  content: "\e61e";
}

.icon-L-bianyaqi:before {
  content: "\e695";
}

.icon-dianzhan:before {
  content: "\e66c";
}

.icon-guangfu:before {
  content: "\e60c";
}

.icon-zhuzhuangzhexiantu:before {
  content: "\e72a";
}

.icon-xiazai:before {
  content: "\e63c";
}

.icon-zhexiantu-xianxing:before {
  content: "\e904";
}

.icon-liebiaodangan:before {
  content: "\e650";
}

.icon-icon-current:before {
  content: "\e611";
}

.icon-fenxianggonglv:before {
  content: "\e6a5";
}

.icon-dianyabiao:before {
  content: "\e606";
}

.icon-zhuzhuangtu:before {
  content: "\e88a";
}

.icon-pie:before {
  content: "\e621";
}

.icon-xiajiang1:before {
  content: "\e640";
}

.icon-zengzhang1:before {
  content: "\ec68";
}

.icon-dianbiao:before {
  content: "\ec4d";
}

.icon-shuibiao:before {
  content: "\ec67";
}

.icon-xiajiang:before {
  content: "\e691";
}

.icon-zengchang:before {
  content: "\e692";
}

.icon-fujian:before {
  content: "\e6b3";
}

.icon-downarrow:before {
  content: "\e610";
}

.icon-zhexiantu:before {
  content: "\e645";
}

.icon-riqi:before {
  content: "\eb2a";
}

.icon-ico-left-arrow:before {
  content: "\e66f";
}

.icon-ico-right-arrow:before {
  content: "\e69a";
}

.icon-search:before {
  content: "\e699";
}

.icon-close:before {
  content: "\e64d";
}

